@import './_variables.scss';
@import 'include-media/dist/_include-media.scss';
@import '_mixins.scss';

body[data-panel-state='open'] {
    .sidebarNav {
        // transform: translateX(300px);
        transition: transform 0.4s cubic-bezier(0.56, 0.1, 0.34, 0.91);
        width: 300px;
    }
}

body[data-panel-state='closed'] {
    .sidebarNav {
        transition: transform 0.4s cubic-bezier(0.56, 0.1, 0.34, 0.91);
        transform: translateX(-300px);
        padding: 2rem 0.5rem;
    }
}

.sidebarNav {
    font-size: var(--font-size-large);
    background: var(--navbar-background);
    border-right: var(--navbar-border);
    padding: 2rem 1rem;
    z-index: 5;
    list-style: none;
    display: flex;
    flex-direction: column;

    .native-collapse-wrap details summary {
        padding: 0.5em;
    }
}

.sidebarNavList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.collapseBtn {
    margin-top: auto;
}

@include media('>tablet') {
    body[data-panel-state='closed'] {
        .sidebarNav {
            width: 76px;
            align-items: center;
            transition: visibility 160ms ease-in-out 0s, width 160ms ease-in-out 10ms;
            transform: initial;
        }
    }

    body[data-panel-state='open'] {
        .sidebarNav {
            grid-area: sidebar;
            transform: none;
            width: 250px;
            transition: visibility 160ms ease-in-out 100ms, width 160ms ease-in-out 0s;
            // transform: translateX(300px);
        }
    }

    .sidebarNav {
        grid-area: sidebar;
        // position: unset;
        // left: 0;
        // top: 0;
    }

    button[data-icon-position].mobileMenuBtn {
        display: none;
    }
}
