@import './_variables.scss';
@import 'include-media/dist/_include-media.scss';
@import '_mixins.scss';

.showCards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0rem -1rem;
    padding: 0;

    li {
        display: flex;
        background: var(--bg-one-up);
        margin: 1rem;
        border-radius: $border-radius;

        button {
            padding: 1rem;
            border-radius: $border-radius;
            width: 100%;
            cursor: pointer;
        }

        @media (min-width: 40rem) {
            & {
                width: 50%;
            }
        }
        @media (min-width: 60rem) {
            & {
                width: 33.3%;
            }
        }
        @media (min-width: 80rem) {
            & {
                width: 25%;
            }
        }

        * {
            color: black;
        }
    }

}