@import './_variables.scss';
@import 'include-media/dist/_include-media.scss';
@import '_mixins.scss';


@include media('<phone') {
    .stockard {
        .hgRating {
            display: block;
        }
    }
}

.stockCard {
    display: grid;
    border: solid 1px $gray-hint;
    box-shadow: 1px 1px 0px $gray-hint;
    grid-template-columns: 76px auto auto; // 80px auto
    grid-gap: .5rem;
    grid-auto-flow: dense;
    overflow: hidden;
    background: $white;
    padding: 0.75rem;
    border-radius: $border-radius;

    // inactive player
    &.inactive {
        box-shadow: none;

        &:after {
            content: '';
            background-color: $gray-hint;
            opacity: 55%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // this is not scalable katie!
    h1, h2, h3, h4, h5, h6, p, label {
        // color: $white;
        margin-bottom: 0;
    }

    .hgImg {
        grid-column: 1/2;
        border: solid 1px $border;
        border-radius: $border-radius;
    }

    .hgDetails {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hgRating {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0.5rem;

        @include media('>tablet') { 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        // .media($min-tablet, {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     align-items: center;
        // });
    }

    .ratingWrap {
        align-items: baseline;
        padding: 0.5rem 1rem;
        // .px-em-padding(8, 16, 8, 16);

        .hgStar {
            color: $yellow;
            margin-right: 0.25rem;
        }

        .hgStarRating {
            font-variation-settings: $base-font-weight-bold;
            margin-right: 2px;
        }

        .hgStarOutOf {
            font-variation-settings: "wght" 400;
            font-size: 1rem;
            letter-spacing: .005em;
        }

        .numWrap {
            align-items: baseline;
        }
    }

    .hgPrice {
        grid-column: 3/4;
        // grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        align-items: flex-end;
        padding: 0.5rem;
        border-radius: $border-radius;
        background: linear-gradient(90deg, $white 0%, $gray-hint 62%);

        &.greenBg {
            background: linear-gradient(90deg, $white 0%, $green-01 62%);
        }

        &.redBg {
            background: linear-gradient(90deg, $white 0%, $red-01 62%);
        }
    }

    .inputWrap {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: row;
        align-items: center;

        .buy {
            margin-right: 0.5rem;
            white-space: nowrap;
        }

        .sell {
            margin-left: 0.5rem;
            white-space: nowrap;
        }
    }

    .btnWrap {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        place-content: space-between;
        display: flex;
    }

    .priceDiff {
        font-size: 0.75rem;
    }

    .priceDiffIcon {
        margin-right: 0.25rem;
    }

    .priceWrap {
        // background: $yellow;
        border-radius: $border-radius;
        padding: 0.5em 1em;
        
        // .px-em-padding(8, 16, 8, 16);
    }

    .priceChangeWrap {
        align-items: baseline;
        display: flex;
        flex-direction: row;

        p {
            line-height: 1;
        }

        svg {
            font-size: 12px;
           
        }

        &.green {
            color: darken($green, 5%);
        }

        &.red {
            color: darken($red, 8%);
        }

    }

    @include media('>tablet') { 
        .input-wrap {
            // grid-column: 1 / -1;
            // grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            .num-input-wrap {
                order: 1;
                margin-bottom: .5rem;
                width: 100%;
            }

            .buy {
                margin: 0 0.5rem;
                white-space: nowrap;
                order: 3;
            }

            .sell {
                // .px-rem-margin(0, 8, 0, 8);
                white-space: nowrap;
                order: 2;
            }

            .link {
                order: 4;
            }
        }
    }

    // .media(only screen and (max-width: 499px), {
    //     .input-wrap {
    //         // grid-column: 1 / -1;
    //         // grid-row: 3 / 4;
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         flex-wrap: wrap;
    //         justify-content: flex-start;

    //         .num-input-wrap {
    //             order: 1;
    //             margin-bottom: .5rem;
    //             width: 100%;
    //         }

    //         .buy {
    //             .px-rem-margin(0, 8, 0, 8);
    //             white-space: nowrap;
    //             order: 3;
    //         }

    //         .sell {
    //             // .px-rem-margin(0, 8, 0, 8);
    //             white-space: nowrap;
    //             order: 2;
    //         }

    //         .link {
    //             order: 4;
    //         }
    //     }
    // });

    // .media(only screen and (min-width: 500px), {
    //     .input-wrap {
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;

    //         .buy {
    //             .px-rem-margin(0, 0, 0, 8);
    //             white-space: nowrap;
    //         }

    //         .sell {
    //             .px-rem(margin-right, 8);
    //             white-space: nowrap;
    //         }
    //     }
    // });

    // .media($min-tablet, {

    // });
}