@import './_variables.scss';
@import 'include-media/dist/_include-media.scss';
@import '_mixins.scss';

@include media('<phone') {
    .stockard {
        .hgRating {
            display: block;
        }
    }
}

.stockCard {
    display: grid;
    // border: solid 1px $gray-hint;
    // box-shadow: 1px 1px 0px $gray-hint;
    grid-template-columns: 76px auto auto; // 80px auto
    grid-gap: 1rem;
    grid-auto-flow: dense;
    overflow: hidden;
    background: var(--slate3);
    padding: 0.75rem;
    border: solid 1px var(--slate6);
    border-radius: var(--border-radius);

    .hgImg {
        grid-column: 1/2;
    }

    .hgDetails {
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hgRating {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 0.5rem;

        @include media('>tablet') {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .ratingWrap {
        align-items: baseline;
        padding: 0.5rem 1rem;

        .hgStar {
            color: var(--yellow9);
            margin-right: 0.25rem;
        }

        .hgStarRating {
            margin-right: 2px;
            font-weight: var(--font-weight-bold);
        }

        .hgStarOutOf {
            font-size: 0.75rem;
            letter-spacing: 0.005em;
        }

        .numWrap {
            align-items: baseline;
            font-size: var(--h3);
        }
    }

    .hgPrice {
        grid-column: 3/4;
        // grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        align-items: flex-end;
        padding: 0.5rem;
        border-radius: var(--border-radius);
        background: linear-gradient(90deg, var(--slate3) 0%, var(--slate8) 62%);

        &.greenBg {
            background: linear-gradient(90deg, var(--slate3) 0%, var(--grass8) 62%);
        }

        &.redBg {
            background: linear-gradient(90deg, var(--slate3) 0%, var(--tomato8) 62%);
        }
    }

    .inputWrap {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        .buy {
            // margin-right: 0.5rem;
            white-space: nowrap;
        }

        .sell {
            // margin-left: 0.5rem;
            white-space: nowrap;
        }
    }

    .btnWrap {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        place-content: space-between;
        display: flex;
    }

    .priceDiff {
        font-size: 0.75rem;
    }

    .priceDiffIcon {
        margin-right: 0.25rem;
    }

    .priceWrap {
        border-radius: var(--border-radius);
        padding: 0.5em 1em;
    }

    .priceChangeWrap {
        align-items: baseline;
        display: flex;
        flex-direction: row;

        p {
            line-height: 1;
        }

        svg {
            font-size: 14px;
        }

        &.green {
            * {
                color: var(--grass12);
            }
        }

        &.red {
            * {
                color: var(--tomato12);
            }
        }
    }

    @include media('>tablet') {
        .input-wrap {
            // grid-column: 1 / -1;
            // grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            .num-input-wrap {
                order: 1;
                margin-bottom: 0.5rem;
                width: 100%;
            }

            .buy {
                margin: 0 0.5rem;
                white-space: nowrap;
                order: 3;
            }

            .sell {
                // .px-rem-margin(0, 8, 0, 8);
                white-space: nowrap;
                order: 2;
            }

            .link {
                order: 4;
            }
        }
    }

    // .media(only screen and (max-width: 499px), {
    //     .input-wrap {
    //         // grid-column: 1 / -1;
    //         // grid-row: 3 / 4;
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         flex-wrap: wrap;
    //         justify-content: flex-start;

    //         .num-input-wrap {
    //             order: 1;
    //             margin-bottom: .5rem;
    //             width: 100%;
    //         }

    //         .buy {
    //             .px-rem-margin(0, 8, 0, 8);
    //             white-space: nowrap;
    //             order: 3;
    //         }

    //         .sell {
    //             // .px-rem-margin(0, 8, 0, 8);
    //             white-space: nowrap;
    //             order: 2;
    //         }

    //         .link {
    //             order: 4;
    //         }
    //     }
    // });

    // .media(only screen and (min-width: 500px), {
    //     .input-wrap {
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;

    //         .buy {
    //             .px-rem-margin(0, 0, 0, 8);
    //             white-space: nowrap;
    //         }

    //         .sell {
    //             .px-rem(margin-right, 8);
    //             white-space: nowrap;
    //         }
    //     }
    // });

    // .media($min-tablet, {

    // });
}
