.card {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    border-radius: 2px;
    padding: 1rem;

    &[data-spacing='compact'] {
        gap: 0.25rem;
    }

    &[data-variant='positive'] {
        color: var(--grass11);
        border: solid 1px var(--grass7);
        background: var(--grass1);
    }

    &[data-variant='negative'] {
        color: var(--tomato11);
        border: solid 1px var(--tomato7);
        background: var(--tomato1);
    }

    &[data-variant='neutral'] {
        color: var(--slate12);
        border: solid 1px var(--slate9);
        background: var(--slate5);
    }
}
