@import '../_variables.scss';
@import 'include-media/dist/_include-media.scss';
@import '../_mixins.scss';

.input {
    border: solid 1px var(--input-border);
    border-radius: var(--border-radius);
    background: var(--input-bg);
    color: var(--input-color);
    font-size: 1rem;
    height: var(--input-height);
    padding: 0 0.625rem;
    width: 100%;
    min-width: 150px;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: var(--input-placeholder);
        opacity: 1;
    }

    &:active,
    &:focus {
        border: solid 1px transparent;
        outline: solid 2px $link;
        outline-offset: -2px;
    }

    // &:active, &:focus {
    //     .a11yOutline;
    // }

    &.dark {
        background: $gray-light;
        color: $white;
    }

    &.invalid {
        border: solid 1px transparent;
        outline: solid 2px var(--tomato11);
        outline-offset: -2px;
    }

    &:disabled {
        background-color: var(--slate12);
        // border-color: $disabled-bg;
        color: var(--slate6);
        cursor: not-allowed;
        outline: none;
    }

    &.inlineWidth {
        width: inherit;
    }

    &-sharp {
        border-radius: 0px;
    }

    &-light {
        border: solid 1px $gray-hint;
    }
}

.invalidMessage {
    font-size: 0.75rem;
}

.hint {
    font-size: 0.75rem;
    font-weight: 400;
}

.select {
    border: solid 1px var(--input-border);
    border-radius: var(--border-radius);
    background: var(--input-bg);
    color: var(--input-color);
    font-size: 1rem;
    height: var(--input-height);
    padding: 0 0.625rem;
    display: inline-block;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, var(--input-color) 50%),
        linear-gradient(135deg, var(--input-color) 50%, transparent 50%),
        linear-gradient(to right, var(--input-color), var(--input-color));
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;

    &::-webkit-input-placeholder,
    &::placeholder {
        color: var(--input-placeholder);
        opacity: 1;
    }

    &:active,
    &:focus {
        border: solid 1px transparent;
        outline: solid 2px $link;
        outline-offset: -2px;
    }
}

.select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.label {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    // color: var(--input-label);
    // margin-bottom: 0.5rem;
    display: block;

    &-inline {
        margin-bottom: 0;
        margin-right: $space-xs-rem;
    }

    // visually hides label
    &.hidden {
        margin-bottom: 0;
        @include visuallyHidden;
    }
}

.numInputWrap {
    display: block;
    // font-size: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    height: var(--input-height);
}

.numInput {
    // background-color: $primary-blue;
    // border-top: solid 1px $primary-blue;
    // border-bottom: solid 1px $primary-blue;
    // color: $white;
    padding-left: 3.375rem;
    padding-right: 3.375rem;
    text-align: center;
    display: block;
    min-height: 1.5rem;
    min-width: 3rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;

    &:active,
    &:focus {
        border: solid 1px transparent;
        outline: solid 2px $link;
        outline-offset: -2px;
    }
}

.controlBtn {
    position: absolute;
    width: 2.5rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $primary-blue-02;

    &:disabled {
        // background-color: $gray-light;
        // border-color: $gray-light;
        cursor: not-allowed;
        top: -1px;
        bottom: -1px;
    }

    &.decrease {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.increase {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        right: 0;
    }
}

.labelHidden {
    margin-bottom: 0;
    @include visuallyHidden;
    height: 0px;
}
